*,
:after,
:before,
::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}
::selection {
  background: #a684ff;
  color: #ffffff;
}
body {
  font-family: sans-serif;
}
section {
  scroll-margin-top: 6rem !important;   /* عدلي الرقم حسب ارتفاع النافبار */
}
.main-Text-color {
  color: #314158 !important;
}
.main-color {
  color: #7c3aed !important;
}
.my-nav {
  background-color: #ffffff !important;
}
.my-nav .nav-link {
  position: relative;
}

.my-nav .nav-link:not(.no-line)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 0;
  background-color: #7c3aed;
  transition: width 0.5s;
}

.my-nav .nav-link:not(.no-line):hover::after,
.my-nav .nav-link:not(.no-line).active::after {
  width: 100%;
  color: #7c3aed !important;
}

.nav-link.active {
  color: #7c3aed !important;
}

.mega-menu{
  width: 100vw;
}


@media (min-width: 992px) {
  .navbar .dropdown-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}
.container-60 {
  width: 55%;
}
.form-font {
  font-size: 0.875rem;
}
.star-color {
  color: #ffb900;
}
header {
  background: linear-gradient(to right, #4d179acc, #59168bcc),
    url("../Images/hero-bg-img.png");
  min-height: 94vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .header-title h1 {
  font-size: 3.75rem;
}
header .header-title p {
  font-size: 1.25rem;
  line-height: 2.0625rem;
}

.form-select.no-arrow {
  --bs-form-select-bg-img: none;
  appearance: none;
}
.form-select.no-arrow::-ms-expand {
  display: none;
}
.form-control:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 0.25rem rgba(138, 43, 226, 0.25);
}
.form-select:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 0.25rem rgba(138, 43, 226, 0.25);
}
.hero-content {
  max-width: 870px;
}
.hero-content .search-btn {
  background: linear-gradient(to right, #8520fd, #8d1bfc, #9711fb) !important;
}
.hero-content .part-2 p {
  color: #ddd6ff !important;
}

.premium-collection {
  background-color: #f9fafb;
}
.premium-collection .premium-title .title-1,
.our-services .our-services-title .title-1,
.contact .contact-title .title-1 {
  background-color: #f8f4ff;
  border: 0.125rem solid #ddd6ff !important;
}
.premium-collection .premium-title .title-1 span,
.our-services .our-services-title .title-1 span,
.contact .contact-title .title-1 span {
  font-size: 0.75rem;
  font-weight: 700;
}
.premium-collection .premium-title .title-2 span,
.our-services .our-services-title .title-2 span,
.contact .contact-title .title-2 span {
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(to right, #871efc, #9b29f3, #c376a4, #f89700);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.premium-collection .premium-title .title-2 p,
.our-services .our-services-title .title-2 p,
.contact .contact-title .title-2 p {
  font-size: 1.25rem;
  color: #4a5565;
}
.price-gradient {
  background: linear-gradient(90deg, #7f00ff, #c850ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-img-top {
  height: 16rem;
  object-fit: cover;
}
.card .badge {
  font-weight: 400;
}
.card .b-1 {
  background-color: #7f22fe;
}
.card .b-2 {
  background-color: #00a63e;
}
.card .b-3 {
  background-color: #e17100;
}

.card {
  height: 29rem;
}
.card img {
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}
.card-body .btn {
  background-color: #ddd6ff;
  color: #7f22fe !important;
}

.end-btn .btn {
  background: linear-gradient(to right, #7207e6, #8e1bfc, #9811fa);
}
.nav-underline {
  margin-bottom: 0 !important;
}

.nav-underline .nav-link {
  color: #4a5565;
  padding: 0.9375rem 1.5625rem;
  border: none !important;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-underline .nav-link.active {
  color: #7f22fe !important;
  background: rgba(138, 43, 226, 0.08);
  border: none !important;
  position: relative;
  font-weight: 600;
}

.nav-underline .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.08rem;
  background: #7f22fe;
  border-radius: 4px;
}

.nav-underline .nav-link:hover {
  color: #8a2be2;
}

.Nav-tabs .border-bottom {
  border-bottom: 1px solid #ddd;
  width: 75%;
}

.icon-box {
  background: #ede9fe;
  color: #7f22fe;

  font-size: 1.125rem;
}

.hero-side-img {
  width: 90%;
  max-height: 420px;
  object-fit: cover;
}

.stats-card {
  bottom: -4%;
  left: -2%;
  background: #fff;
  padding: 1rem 1.5625rem;
  border-radius: 0.625rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  text-align: left;
}

.stat-number {
  font-size: 24px;
  color: #7f22fe;
}
.title h2 {
  font-size: 1.875rem;
}
.title p {
  font-size: 1.125rem;
}
.Item-1 h5,
.Item-2 h5,
.Item-3 h5 {
  font-size: 1.25rem !important;
}
.Item-1 p,
.Item-2 p,
.Item-3 p {
  font-size: 1rem !important;
}

.nav-btn {
  background-color: #7f22fe;
  color: #ffffff;
}
.nav-btn:hover {
  background-color: #7008e7;
  color: #ffffff;
}

.testemonials {
  background: linear-gradient(90deg, #4e179a, #531792, #58168c);
  height: 100vh;
}

.testemonials .testemonials-title .title-1 {
  background-color: #f8f4ff;
  font-size: 0.75rem;
  font-weight: 600;
}
.testemonials .testemonials-title .title-2 span {
  font-size: 3rem;
  color: #fff;
  font-weight: 900;
}
.testemonials .testemonials-title .title-2 p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ddd6ff;
}
.testemonials-content .card {
  width: 60%;
  height: 20rem;
  
}
.testemonials-content .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}
.testemonials-content .card-2 p {
  font-size: 1.25rem;
  line-height: 2.0625rem;
}
.testemonials-content .card-3 .image-card {
  width: 8%;
}

.faq {
  background-color: #f9fafb;
}
.faq .faq-title .title-1 {
  background-color: #f8f4ff;
  font-size: 0.75rem;
  font-weight: 600;
  border: 0.125rem #ddd6ff solid;
}
.faq .faq-title .title-2 span {
  font-size: 3rem;
  color: #7e0dee;
  font-weight: 900;
}
.faq .faq-title .title-2 p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #4a5565;
}
.faq .faq-content {
  width: 58%;
}
.accordion-item {
  box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.15);

  border: 2px solid #fff !important;
}
.accordion-button {
  font-size: 1.25rem;
  font-weight: 600;
}
.accordion-body {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #4a5565;
  word-spacing: 0.125rem;
  margin-top: 1.25rem;
}
.icon-gradient {
  transition: 0.3s ease;
}

.contact-card {
  transition: 0.3s;
  border: 1px solid #e6e8ec;
}

.contact-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.12);
  border: 2px solid #dab2ff;
}
.contact-card:hover .icon-gradient {
  transform: scale(1.1);
}
.c-1 .icon-gradient {
  background: linear-gradient(135deg, #873eff, #8b4bff);
}
.c-2 .icon-gradient {
  background: linear-gradient(135deg, #a93fff, #9d23fd);
}
.c-3 .icon-gradient {
  background: linear-gradient(135deg, #e453de, #f89146);
}
.c-4 .icon-gradient {
  background: linear-gradient(135deg, #5e59ff, #594ffd);
}
.info-box {
  background-color: #f5f6f8;
}
.connect-box {
  background: linear-gradient(135deg, #8c1cfc, #8321fd);
}
input,
select,
textarea {
  background-color: #f5f6f8 !important;
  border-radius: 0.75rem !important;
}

.send-btn {
  background: linear-gradient(to right, #8321fd, #9811fb);
}

.icon-circle {
  background: #ffffff;
  color: #7b2cff;
  font-size: 18px;
}
.social-btn {
  width: 42px;
  height: 42px;
  border-radius: 15%;
  background: rgba(255, 255, 255, 0.18);
  color: #fff;
  border: none;
}
.check-b {
  background-color: #f5f3ff;
}
.form-check-input {
  border-radius: 0 !important;
  background-color: #fff;
  border: 1px solid #000;
  accent-color: #000 !important;
}
footer {
  padding: 5rem 3rem;
}
.footer-bg {
  background: linear-gradient(135deg, #4e179a, #59168b);
}
footer .iconn {
  transition: 0.3s ease;
  display: inline;
}
footer .iconn:hover {
  transform: scale(1.05);
  background-color: #7f22fe !important;
}
