*,
:after,
:before,
::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}
::selection {
  background: #a684ff;
  color: #ffffff;
}
body {
  font-family: sans-serif;
}
.main-Text-color {
  color: #314158 !important;
}
.main-color {
  color: #7c3aed !important;
}
.my-nav {
  background-color: #ffffff !important;
}
.container-60 {
  width: 55%;
}
.form-font {
  font-size: 0.875rem;
}
header {
  background: linear-gradient(to right, #4d179acc, #59168bcc),
    url("../Images/hero-bg-img.png");
  min-height: 94vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header .header-title h1 {
  font-size: 3.75rem;
}
header .header-title p {
  font-size: 1.25rem;
  line-height: 2.0625rem;
}

.form-select.no-arrow {
  --bs-form-select-bg-img: none;
  appearance: none;
}
.form-select.no-arrow::-ms-expand {
  display: none;
}
.form-control:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 0.25rem rgba(138, 43, 226, 0.25);
}
.form-select:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 0.25rem rgba(138, 43, 226, 0.25);
}
.hero-content {
  max-width: 870px;
}
.hero-content .search-btn {
  background: linear-gradient(to right, #8520fd, #8d1bfc, #9711fb) !important;
}
.hero-content .part-2 p {
  color: #ddd6ff !important;
}

.premium-collection {
  background-color: #f9fafb;
}
.premium-collection .premium-title .title-1,
.our-services .our-services-title .title-1 {
  background-color: #f8f4ff;
  border: 0.125rem solid #ddd6ff !important;
}
.premium-collection .premium-title .title-1,
.our-services .our-services-title .title-1 span {
  font-size: 0.75rem;
  font-weight: 700;
}
.premium-collection .premium-title .title-2 span,
.our-services .our-services-title .title-2 span {
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(to right, #871efc, #9b29f3, #c376a4, #f89700);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.premium-collection .premium-title .title-2 p,
.our-services .our-services-title .title-2 p {
  font-size: 1.25rem;
  color: #4a5565;
}
.price-gradient {
  background: linear-gradient(90deg, #7f00ff, #c850ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-img-top {
  height: 16rem;
  object-fit: cover;
}
.card .badge {
  font-weight: 400;
}
.card .b-1 {
  background-color: #7f22fe;
}
.card .b-2 {
  background-color: #00a63e;
}
.card .b-3 {
  background-color: #e17100;
}

.card {
  height: 29rem;
}
.card img {
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}
.card-body .btn {
  background-color: #ddd6ff;
  color: #7f22fe !important;
}

.end-btn .btn {
  background: linear-gradient(to right, #7207e6, #8e1bfc, #9811fa);
}
.nav-underline {
  margin-bottom: 0 !important;
}

.nav-underline .nav-link {
  color: #4a5565;
  padding: 0.9375rem 1.5625rem;
  border: none !important;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-underline .nav-link.active {
  color: #7f22fe !important;
  background: rgba(138, 43, 226, 0.08);
  border: none !important;
  position: relative;
  font-weight: 600;
}

.nav-underline .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.08rem;
  background: #7f22fe;
  border-radius: 4px;
}

.nav-underline .nav-link:hover {
  color: #8a2be2;
}

.Nav-tabs .border-bottom {
  border-bottom: 1px solid #ddd;
  width: 75%;
}

.icon-box {
  background: #ede9fe;
  color: #7f22fe;

  font-size: 1.125rem;
}

.hero-side-img {
  width: 90%;
  max-height: 420px;
  object-fit: cover;
}

.stats-card {
  bottom: -4%;
  left: -2%;
  background: #fff;
  padding: 1rem 1.5625rem;
  border-radius: 0.625rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  text-align: left;
}

.stat-number {
  font-size: 24px;
  color: #7f22fe;
}
.title h2 {
  font-size: 1.875rem;
}
.title p {
  font-size: 1.125rem;
}
.Item-1 h5,
.Item-2 h5,
.Item-3 h5 {
  font-size: 1.25rem !important;
}
.Item-1 p,
.Item-2 p,
.Item-3 p {
  font-size: 1rem !important;
}

.nav-btn{
    background-color: #7F22FE;
    color: #ffffff;
}
.nav-btn:hover{
    background-color: #7008E7;
     color: #ffffff;
}
